*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  color: #2f4f4f;
  margin-bottom: 10px; /*reduces the margins*/
}

a:link {
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 2px;
}

a:visited {
  background-color: purple;
}

a:hover {
  background-color: transparent;
  color: blue;
  text-decoration: underline;
}

a:active {
  color: red;
}

.nav {
  margin-top: 10px; /*reduces the margins*/
  list-style: none; /*removes user-agent list styles*/
  padding-left: 0; /*removes user-agent list styles*/
}

.nav li {
  display: inline-block; /*Makes list items appear side by side rather than stacked*/
}

.nav a {
  color: white;
  background-color: #13a4a4;
  padding: 5px 15px;
  border-radius: 2px;
  text-decoration: none;
}

a.featured {
  background-color: orange;
}

.footer {
  color: #666;
  background-color: #ccc;
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: unset;
  background-color: unset;
  text-decoration: revert;
}

h1 {
  font-weight: bold;
}

.title {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  font-size: 32px;
  font-family: Helvetica, Arial, sans-serif;
}

.nav .featured {
  background-color: orange;
  box-shadow: 10px 2px #6f9090;
}

.coffees {
  margin: 20px 0;
}

.coffees a {
  display: inline-block;
  min-width: 300px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: black;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
}

@supports (display: grid) {
  .coffees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
  }

  .coffees a {
    margin: unset;
    min-width: unset;
  }
}

.padded {
  font-size: 16px;
  padding: 1em;
}
