*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  color: #2f4f4f;
  margin-bottom: 10px; /*reduces the margins*/
}

#main-nav {
  margin-top: 10px; /*reduces the margins*/
  list-style: none; /*removes user-agent list styles*/
  padding-left: 0; /*removes user-agent list styles*/
}

#main-nav li {
  display: inline-block; /*Makes list items appear side by side rather than stacked*/
}

#main-nav a {
  color: white;
  background-color: #13a4a4;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}
